In [1]:
# population_notebook.ipynb

import population_functions as pf

# Step 1: Connect to the database
connection = pf.connect_to_database(
    host="localhost", 
    user="root", 
    password="Admin149.",
    database="InventoryManagement"
)

# Step 2: Populate the Customers table
pf.populate_table_from_csv(connection, "Customers", "C:\\Users\\USER\\Documents\\GitHub\\project_final\\5_database\\Data_CSV\\customers.csv")

# Step 3: Populate the Products table
pf.populate_table_from_csv(connection, "Products", "C:\\Users\\USER\\Documents\\GitHub\\project_final\\5_database\\Data_CSV\\products.csv")

# Step 4: Populate the Invoices table
pf.populate_table_from_csv(connection, "Invoices", "C:\\Users\\USER\\Documents\\GitHub\\project_final\\5_database\\Data_CSV\\invoices.csv")

# Step 5: Populate the InvoiceItems table
pf.populate_table_from_csv(connection, "InvoiceItems", "C:\\Users\\USER\\Documents\\GitHub\\project_final\\5_database\\Data_CSV\\invoice_items.csv")

# Step 6: Close the database connection
pf.close_connection(connection)

DatabaseError: 1265 (01000): Data truncated for column 'product_id' at row 1

CREATE DATABASE inventory_management;
USE inventory_management;

CREATE TABLE Customers (
    customerid INT PRIMARY KEY,
    country VARCHAR(255)
);

CREATE TABLE Products (
    product_id INT AUTO_INCREMENT PRIMARY KEY,
    description VARCHAR(255),
    unitprice DECIMAL(10, 2)
);

CREATE TABLE Transactions (
    transaction_id INT AUTO_INCREMENT PRIMARY KEY,
    invoicedate DATETIME,
    customerid INT,
    product_id INT,
    quantity INT,
    total_purchase DECIMAL(10, 2),
    FOREIGN KEY (customerid) REFERENCES Customers(customerid),
    FOREIGN KEY (product_id) REFERENCES Products(product_id)
);