## Project Objective

- **Objective**: Optimize inventory management by understanding customer purchase behavior. Focus on identifying which product categories are most popular, seasonal trends, and customer purchase frequency.

## Data Gathering

In [2]:
import pandas as pd
import numpy as np
from cleaning_functions import convert_to_datetime, fill_missing_values, convert_to_int, lowercase_columns, save_cleaned_data


# Load the CSV file
file_path = 'C:\\Users\\USER\\Documents\\GitHub\\project_final\\dataset_raw\\data_utf8.csv'
df = pd.read_csv(file_path)

In [3]:
df

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
...,...,...,...,...,...,...,...,...
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,12/9/2011 12:50,0.85,12680.0,France
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,12/9/2011 12:50,2.10,12680.0,France
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,12/9/2011 12:50,4.15,12680.0,France
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,12/9/2011 12:50,4.15,12680.0,France
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,12/9/2011 12:50,4.95,12680.0,France

- Customer ID: A unique identifier for each customer.
- StockCode (Product Category): Represents the product or product category.
- Description: A textual description of the product
- Quantity: Number of units of a product purchased in each transaction.
- UnitPrice: The price per unit of the product.
- InvoiceDate: The date and time of the transaction.
- Country: The country where the customer is located.

In [4]:
#Check data types
df.dtypes

InvoiceNo       object
StockCode       object
Description     object
Quantity         int64
InvoiceDate     object
UnitPrice      float64
CustomerID     float64
Country         object
dtype: object

In [7]:
df = convert_to_datetime(df, 'InvoiceDate')

In [8]:
df.isna().sum()

InvoiceNo           0
StockCode           0
Description      1454
Quantity            0
InvoiceDate         0
UnitPrice           0
CustomerID     135080
Country             0
dtype: int64

In [9]:
df = fill_missing_values(df, 'CustomerID', -1)

In [10]:
df = fill_missing_values(df, 'Description', 'Unknown')

In [11]:
df = convert_to_int(df, 'CustomerID')

In [12]:
df.dtypes

InvoiceNo              object
StockCode              object
Description            object
Quantity                int64
InvoiceDate    datetime64[ns]
UnitPrice             float64
CustomerID              int32
Country                object
dtype: object

In [13]:
df.isna().sum()

InvoiceNo      0
StockCode      0
Description    0
Quantity       0
InvoiceDate    0
UnitPrice      0
CustomerID     0
Country        0
dtype: int64

**Numeric Fields**: Quantity, UnitPrice

**Categorical Fields**: StockCode, Country

**Datetime Fields**: InvoiceDate

In [14]:
#Column titles in lower case
df = lowercase_columns(df)

In [16]:
df.sample(4)

,invoiceno,stockcode,description,quantity,invoicedate,unitprice,customerid,country
297997,562965,10133,COLOURING PENCILS BROWN TUBE,20,2011-08-11 10:45:00,0.42,18226,United Kingdom
292070,562539,22900,SET 2 TEA TOWELS I LOVE LONDON,4,2011-08-05 15:30:00,3.25,17220,United Kingdom
313744,564535,23296,SET OF 6 TEA TIME BAKING CASES,8,2011-08-25 15:10:00,1.25,18075,United Kingdom
91779,544153,47590B,PINK HAPPY BIRTHDAY BUNTING,1,2011-02-16 12:11:00,5.45,15356,United Kingdom

In [17]:
#Export the cleaned data to a new CSV file
save_cleaned_data(df, 'C:\\Users\\USER\\Documents\\GitHub\\project_final\\data_cleaning\\data_cleaned.csv')

## Statistical Techniques and Data Visualization

### Descriptive Statistics

In [34]:
# Mean
mean_quantity = df['Quantity'].mean().round(1)
mean_unit_price = df['UnitPrice'].mean().round(1)

# Median
median_quantity = df['Quantity'].median()
median_unit_price = df['UnitPrice'].median()

# Mode
mode_quantity = df['Quantity'].mode()[0]
mode_unit_price = df['UnitPrice'].mode()[0]

print(f"Mean Quantity: {mean_quantity}, Median Quantity: {median_quantity}, Mode Quantity: {mode_quantity}")
print(f"Mean Unit Price: {mean_unit_price}, Median Unit Price: {median_unit_price}, Mode Unit Price: {mode_unit_price}")

Mean Quantity: 9.6, Median Quantity: 3.0, Mode Quantity: 1
Mean Unit Price: 4.6, Median Unit Price: 2.08, Mode Unit Price: 1.25

### Highest Average Purchase Amount by StockCode Product

In [39]:
# Calculate total purchase amount for each product (Quantity * UnitPrice)
df['TotalAmount'] = df['Quantity'] * df['UnitPrice']

# Group by StockCode and calculate the mean purchase amount
avg_purchase_amount = df.groupby('StockCode')['TotalAmount'].mean().sort_values(ascending=False)
print(avg_purchase_amount.head(10))  # Show top 10 product categories with highest average purchase amount

StockCode
47556B    1511.250000
22275      527.850000
22833      371.932857
22830      326.286250
DOT        290.486592
21897      253.638000
22828      218.571429
21769      202.550000
22823      183.000000
22783      175.330882
Name: TotalAmount, dtype: float64